$primary-color: black;
$secondary-color: #5ec5f5;
$tertiary-color: #ffffff;
$font-stack: 'Roboto', sans-serif;
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
a{
  text-decoration: none;
  color: $tertiary-color;
}

p{
  font-family: $font-stack;
  color: $tertiary-color;
  font-size: 1em;
  margin: 5px;
}

h1{
  background-color: $secondary-color;
  color: $tertiary-color;
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
}

h2{
  background-color: $secondary-color;
  color: $tertiary-color;
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
}

h3{
  background-color: $secondary-color;
  color: $tertiary-color;
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
}

button {
  background-color: $secondary-color;
  color: $tertiary-color;
  text-align: center;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
}

body{
  background: linear-gradient(45deg, #183c4d, #185568, #183c4d);
  font-family: $font-stack;
}

.tituloFinallissima{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  float: left;
  margin: 5px;
  padding: 5px;
  width: 700px;
  height: 1000px;
  border: 5px solid cornflowerblue;
}
  
.tituloFinallissima img{
  width: 100%;
  height: 100%;
}

.finalFinallissima2022{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  float: left;
  margin: 5px;
  padding: 5px;
  width: 700px;
  height: 600px;
  border: 5px solid cornflowerblue;
}